name: Deploy Hom

on:
  pull_request:
    branches:
      - homolog

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0

      - name: Install dependencies
        run: dotnet restore ../../backend/developer-store-backend.sln

      - name: Build the project
        run: dotnet build --no-restore --configuration Release

      - name: Run unit tests
        run: dotnet test --no-build --verbosity normal

  create-pr:
    name: Create Pull Request to Main
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: homolog
          base: main
          title: "Release: homolog to main"
          body: "Automated pull request to sync changes from homolog to main"
